body {
    font: 13px "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック",sans-serif,hanazonoFont;
    background: #f3a8bc;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}

/* =======
/* Header
================= */

/* Part_01 */
#header {
    margin: 0;
    padding: 0;
    position: relative;
    background: url(img/bg_gray.jpg);
}
#wrapper {
    /* background: url(img/bg_header_white.png) repeat-x center; */
    background: url(img/bg_header_white.png) repeat-x 0 -2px;
    margin: 0 auto;
    padding: 0;
}
.headerIn {
    /* width: 100%; */
    position: relative;
    width: 960px;
    margin: auto;
    padding: 0;
    text-align: right;
}
.menu ul {
    /* width: 960px;
    margin: auto;
    text-align: right; */
    height: 26px;
    padding: 6px 0 0 0; /* Reason */
    font-size: 12px;
    margin: 0 0 9px 0;
    display: flex;
    justify-content: flex-end;
}
.menu ul li {
    /* padding: 0 10px; */
    margin: 0 0 0 20px;
    text-decoration: none;
}
.menu ul li a {
    color: #29b2c8;
    font-size:12px;
}
.menu ul li a:hover {
    text-decoration: underline;
}
.tell {
    display: block;
    margin: 0 0 5px auto;
    padding: 0;
}

/* Part_02 */
.navi {
    width: 100%;
    height: 64px;
    background: url(img/bg_nav.png) repeat-x 0 0;
    padding: 0;
    margin: 0;
}
.navi ul {
    width: 960px;
    padding: 2px 0 0 0;
    margin: auto;
    display: flex;
}
.navi ul li {
    list-style: none;
    text-align: left;
    width: 143px;
    height: 60px;
    padding: 0;
    margin: 0;
    /* float: left; */
    border-right: 1px solid #d48697;
}
.navi ul li a {
    display: block;
    background-position: 0 0%;
    background-repeat: no-repeat;
    width: 134px;
    height: 52px;
    padding: 0;
    margin: 4px auto 0 auto;
    text-indent: -9999em;
}
.navi ul li.top {
    width: 238px;
    border: 0px none;
    margin: 0;
    padding: 0;
    position: relative;
}
.navi ul li.top a {
    display: inline;
    background-image: none;
    background-color: #f3a8bb;
    width: auto;
    height: auto;
    padding: 0;
    margin: auto;
    text-align: center;
    text-indent: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
}


.navi ul li.nav1 a {
    background: url(img/nav01.jpg);
}
.navi ul li.nav2 a {
    background: url(img/nav02.jpg);
}
.navi ul li.nav3 a {
    background: url(img/nav03.jpg);
}
.navi ul li.nav4 a {
    background: url(img/nav04.jpg);
}
.navi ul li.nav5 a {
    background: url(img/nav05.jpg);
}
.navi ul li a:hover {
    background-position: 0% 100%;
}

/* .gNavi ul li {
    width: 243px;
    height: 50px;
    background-position: 0% 0%;
}
.gNavi ul li a {
    font-size: 12px;
    text-decoration: none;
    z-index: -999;
}
.top {
    width: 236px;
    height: 141px;
} */